/Challenger 1 - aula 01 copy.txt
/Challenger 1 - aula 02 copy.txt
/Challenger 1 - aula 03.txt
/Challenger 1 - aula especial.txt
/Challenger 1 - aula 05.txt
/Challenger 1 - aula 04.txt
/ex01.py
/ex02.py
/ex03.py
/ex04.py
/exemplo.py
/calculadoraSimples.py